<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Global Kinetics Web">

	<listeners>

		<listener class-name="webtests.Listeners" />
		<listener class-name="webtests.ExecutionListener" />
		<listener class-name="resources.ExtentReporterNG" />
	</listeners>

	<test thread-count="5" name="Regression test">
		<classes>
			<class name="webtests.Login" />
			<class name="webtests.AddToCart" />
		    <class name="webtests.Checkout" />
		</classes>
	</test>
</suite> <!-- Suite -->
